{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
		<div class="col-6">
			<div class="card">
				<div class="card-body">
			<center><h2>withdraw</h2></center>
			<h2>Transactions</h2>
			
				<p>Date:20-05-2019 ,acco:12345677, withdraw:30$</p>
				<p>Date:25-05-2019 ,acco:12344647, withdraw:200$</p>
				<p>Date:01-06-2019 ,acco:12343677, withdraw:333$</p>
				<p>Date:20-06-2019 ,acco:12345677, withdraw:399$</p>
				<p>Date:21-07-2019 ,acco:12345677, withdraw:100$</p>
				<p>Date:24-08-2019 ,acco:12345677, withdraw:300$</p>
			
				
		<center>		
  		
		</div>
	</div>
</div>
</div>



{% endblock %}